.container {
    background-color: rgb(104, 190, 190);
    margin: auto;
    margin: 30px;
    border-radius: 10px;
}

table,
th,
td {
    border: 1px solid;
}

table {
    width: 100%;
    border-collapse: collapse;

}