.container {
    background-color: rgb(104, 190, 190);
    margin: auto;
    border-radius: 10px;
}

table,
th,
td {
    border: 1px solid;
}

table {
    width: 100%;
    border-collapse: collapse;
    border-radius: 3px;
    border-width: 3px;
    table-layout: fixed;
}