<%= stylesheet_link_tag "ordereditem" %>

<div class="tableContainer">
        <div class="separator"></div>

        <div class="tableLayout">                

                <div class="tableDiv">
                <h1>Pedidos</h1>
                </div>                

                <div class="tableDiv">
                <% products = @ordered_items.as_json %>                              
                <%= react_component("table/Table", {products: products}) %>
                </div>

                <div>
                <table class="table table-bordered tableDiv" >   
                    <thead> 
                                    <tr> 
                                    <% item = @ordered_items.first  %> 
                                    <% if item  %> 
                                    <% item.attributes.each do |attr_name, attr_value| %>                                          
                                    <th><%= attr_name %></th>
                                    <% end %>
                                    <% end %>
                                    </tr>
                    </thead>


                    <tbody>
                                    <% @ordered_items.each do |item| %>
                                    <tr> 
                                    <% item.attributes.each do |attr_name, attr_value| %> 
                                    <td class="td"><%= attr_value %></td>
                                    <%end %>
                                    </tr>
                                    <%end %>
                    </tbody>
                </table>
                </div>
        </div> 
</div>

